<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670230587842-21dj3fp96ff0kjsct6sqg0oomtr6cs31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670230587842-21dj3fp96ff0kjsct6sqg0oomtr6cs31</string>
	<key>API_KEY</key>
	<string>AIzaSyBdDtb816s_jCf1G0kRBrQFn5HcSGuvsl8</string>
	<key>GCM_SENDER_ID</key>
	<string>670230587842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunje.qnpick</string>
	<key>PROJECT_ID</key>
	<string>qnpick-356212</string>
	<key>STORAGE_BUCKET</key>
	<string>qnpick-356212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670230587842:ios:0fb178735ba555b1364e5b</string>
</dict>
</plist>